a {
   color: rgb(43, 39, 39);
   font-style: italic;
   text-decoration: none;
}

a:hover:link{
   text-decoration: underline;
   font-weight: bold;
   color: rgb(77, 77, 238);
}

a:hover:visited{
   text-decoration: underline;
   font-weight: bold;
   color: rgb(238, 77, 77);      
}

a:active{
   text-decoration: underline;
   font-weight: bold;
   color: rgb(192, 77, 238);  
}

body {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
}

figure {
   float: right;
   border: 3px solid black;
   background-color: coral;
   text-align: center;
}

.black {
   color:black;
}

li {
   line-height: 30px;
}

body.un {
   background-color: rgb(231, 167, 129);
}
body.deux {
   background-color: rgb(231, 167, 129);
   max-width: 100%;

}
body.trois {
   background-color: rgb(114, 139, 224);
}

div.texte {
   max-width: 90%;
}

button {
   padding: 20px;
   text-align: center;
   background-color: chocolate;
   border: 2px double;
   border-radius: 10px;
   margin-right: 10px;
}

body.un, body.deux {
   border: 3px solid black;
   padding: 20px;
}

div.button {
   display: flex;
}

li:hover {
   font-weight: bolder;
   font-size: 15px;
}

button:hover {
   font-size: large;
}

h1{
   text-decoration: underline;
}

iframe{
   height: 950px; 
   width: 100%;
}
